# **ANÁLISE SOCIOECONÔMICA DOS CASOS DE DENGUE NO BRASIL - 2023**

## **1. Importando bibliotecas**

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **2. Importando Dataset e Tratamentos Preliminares**

In [34]:
df = pd.read_csv('sinan_dengue_sample_2023.csv')
df

C:\Users\Gamer\AppData\Local\Temp\ipykernel_22820\2763722423.py:1: DtypeWarning: Columns (22,44,45,46,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sinan_dengue_sample_2023.csv')

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,DT_DIGITA,CS_FLXRET,FLXRECEBI,MIGRADO_W
0,2,A90,2023-01-01,202301,2023,12,120070,1937.0,2000393.0,2023-01-01,...,NaN,NaN,NaN,NaN,2.0,NaN,2024-01-11,1.0,NaN,NaN
1,2,A90,2023-01-02,202301,2023,12,120005,1937.0,2001020.0,2023-01-01,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-01-11,1.0,NaN,NaN
2,2,A90,2023-01-02,202301,2023,12,120005,1937.0,2001020.0,2023-01-01,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-01-11,1.0,NaN,NaN
3,2,A90,2023-01-02,202301,2023,12,120030,1940.0,2000636.0,2023-01-01,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-02-07,1.0,NaN,NaN
4,2,A90,2023-01-02,202301,2023,12,120005,1937.0,2001020.0,2023-01-02,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-01-12,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508648,2,A90,2023-12-28,202352,2023,17,172120,NaN,9038701.0,2023-12-26,...,NaN,NaN,NaN,NaN,2.0,NaN,2024-01-04,0.0,NaN,NaN
1508649,2,A90,2023-12-29,202352,2023,17,170700,NaN,2786095.0,2023-12-28,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-12-29,0.0,NaN,NaN
1508650,2,A90,2023-12-29,202352,2023,17,170820,NaN,2546728.0,2023-12-25,...,NaN,NaN,NaN,NaN,2.0,NaN,2024-01-19,1.0,NaN,NaN
1508651,2,A90,2023-12-29,202352,2023,17,170700,NaN,2786095.0,2023-12-28,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-12-29,1.0,NaN,NaN
1508652,2,A90,2023-12-29,202352,2023,17,172100,NaN,5144175.0,2023-12-22,...,NaN,NaN,NaN,NaN,2.0,NaN,2023-12-29,0.0,NaN,NaN

In [46]:
df_dengue = df[['DT_NOTIFIC', 
           'ID_MUNICIP', 
           'SG_UF_NOT', 
           'DT_SIN_PRI', 
           'ANO_NASC', 
           'CS_SEXO', 
           'CS_GESTANT', 
           'CS_RACA', 
           'CS_ESCOL_N', 
           'HOSPITALIZ', 
           'EVOLUCAO', 
           'DT_OBITO', 
           'FEBRE', 
           'MIALGIA', 
           'CEFALEIA',
           'EXANTEMA',
           'VOMITO',
           'NAUSEA',
           'DOR_COSTAS',
           'CONJUNTVIT',
           'ARTRITE',
           'ARTRALGIA',
           'PETEQUIA_N',
           'LEUCOPENIA',
           'LACO',
           'DOR_RETRO',
           'DIABETES',
           'HEMATOLOG',
           'HEPATOPAT',
           'RENAL',
           'HIPERTENSA',
           'ACIDO_PEPT',
           'AUTO_IMUNE'     
]]

In [47]:
df_dengue

,DT_NOTIFIC,ID_MUNICIP,SG_UF_NOT,DT_SIN_PRI,ANO_NASC,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,HOSPITALIZ,...,LEUCOPENIA,LACO,DOR_RETRO,DIABETES,HEMATOLOG,HEPATOPAT,RENAL,HIPERTENSA,ACIDO_PEPT,AUTO_IMUNE
0,2023-01-01,120070,12,2023-01-01,2005.0,F,5.0,4.0,NaN,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,2023-01-02,120005,12,2023-01-01,1971.0,F,5.0,9.0,9.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,2023-01-02,120005,12,2023-01-01,1995.0,F,9.0,9.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2023-01-02,120030,12,2023-01-01,2002.0,M,6.0,4.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2023-01-02,120005,12,2023-01-02,1990.0,M,6.0,9.0,9.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508648,2023-12-28,172120,17,2023-12-26,1986.0,F,5.0,4.0,8.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1508649,2023-12-29,170700,17,2023-12-28,1984.0,F,5.0,4.0,6.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1508650,2023-12-29,170820,17,2023-12-25,1971.0,F,6.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
1508651,2023-12-29,170700,17,2023-12-28,1996.0,F,5.0,4.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
1508652,2023-12-29,172100,17,2023-12-22,1959.0,M,6.0,1.0,9.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0

In [49]:
df_dengue_sem_sintomas = df[['DT_NOTIFIC', 
           'ID_MUNICIP', 
           'SG_UF_NOT', 
           'DT_SIN_PRI', 
           'ANO_NASC', 
           'CS_SEXO', 
           'CS_GESTANT', 
           'CS_RACA', 
           'CS_ESCOL_N', 
           'HOSPITALIZ', 
           'EVOLUCAO', 
           'DT_OBITO'   
]]

In [50]:
df_dengue_sem_sintomas.to_csv('dengue_resumido_sem_sintomas.csv', sep=';')

In [36]:
df.columns

Index(['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_SIN_PRI',
       ...
       'EVIDENCIA', 'PLAQ_MENOR', 'CON_FHD', 'COMPLICA', 'TP_SISTEMA',
       'NDUPLIC_N', 'DT_DIGITA', 'CS_FLXRET', 'FLXRECEBI', 'MIGRADO_W'],
      dtype='object', length=121)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508653 entries, 0 to 1508652
Columns: 121 entries, TP_NOT to MIGRADO_W
dtypes: float64(93), int64(9), object(19)
memory usage: 1.4+ GB

## **3. ANÁLISE EXPLORATÓRIA DOS DADOS**

### **3.1 Casos de Dengue por Estado do Brasil**

•	Qual é a distribuição dos casos de dengue por estado (SG_UF_NOT)?

•	Quais estados tiveram as maiores e menores taxas de notificação (TP_NOT) de dengue em 2023?

•	Como a distribuição dos casos de dengue varia ao longo das semanas (SEM_NOT) em diferentes estados?

•	Existe correlação entre as características regionais (ID_REGIONA) e a frequência de notificações?

### **3.2 Evolução Temporal do Número de Casos**

•	Como a incidência de dengue variou ao longo do ano de 2023, considerando SEM_NOT e DT_NOTIFIC (é preciso dividir as semanas com base nos dias para ter uma noção do mês de incidência)?

•	Existe alguma correlação entre períodos de pico de casos e as estações do ano?

•	Quais meses tiveram o maior aumento nos casos de dengue, e como isso se relaciona com as condições sazonais e regionais?

### **3.3 Indicadores Sociodemográficos**

•	Qual é a distribuição etária (NU_IDADE_N) dos casos de dengue? Existe uma faixa etária mais vulnerável?

•	Como a distribuição dos casos de dengue varia entre os diferentes sexos (CS_SEXO)?

•	Qual é a distribuição dos casos de dengue entre diferentes grupos raciais (CS_RACA)?

•	Há alguma relação entre o nível de escolaridade (CS_ESCOL_N) e a incidência de dengue?

•	Qual é a distribuição dos casos de dengue entre gestantes (CS_GESTANT)?

### **3.4 Sintomas, Mortalidade e Evolução dos Casos de Dengue**

•	Quais são os sintomas mais comuns entre os casos notificados de dengue (FEBRE, MIALGIA, CEFALEIA, etc.)?

•	Existe uma relação entre a presença de sintomas graves (como LEUCOPENIA ou HEMATOLOG) e a evolução dos casos e/ou óbito?

•	Qual é a prevalência de comorbidades (DIABETES, RENAL, HIPERTENSA, etc.) entre os pacientes diagnosticados com dengue? Qual a relação entre a presença de comorbidades e a evolução/óbito?

•	Qual é a taxa de hospitalização (HOSPITALIZ) entre os pacientes diagnosticados com dengue?

•	Qual é a taxa de mortalidade (TARGET_OBITO) associada à dengue em 2023?

•	Existe alguma tendência temporal entre a data do início dos sintomas (DT_SIN_PRI) e a evolução dos casos (EVOLUCAO) ao longo do tempo?